<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Auth0 Angular LDAP integration</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['public-page-1']">Public page 1 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['public-page-2']">Public page 2 </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['protected-page']" *ngIf="auth.loggedIn">Protected page</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button (click)="auth.login()" class="btn btn-warning" *ngIf="!auth.loggedIn">Login</button>
      <button (click)="auth.logout()" class="btn btn-danger" *ngIf="auth.loggedIn">Logout</button>
    </span>
  </div>
</nav>
